@import url("reset.css");

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

/**Holy grail css stolen from github **/
.HolyGrail {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.HolyGrail footer,
.HolyGrail header {
	flex: none;
	text-align: center;
}

.HolyGrail-body {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.HolyGrail-content {
	flex: 4;
	order: 2;
}

.HolyGrail-nav, .HolyGrail-ads {
	flex: 0 0 ;
}

.HolyGrail-nav {
	order: 1;
}

.HolyGrail-ads{
	order: 5;
}

@media (min-width: 650px)  {
	.HolyGrail-body {
		flex-direction: row;
		flex: 1;
	}
	.HolyGrail header {
		text-align: left;
	}
	.HolyGrail-content {
		flex: 1;
		order: 3;
	}
	
	.HolyGrail-nav, .HolyGrail-ads {
		flex:0 0 12em;
	}
}
/** javascript category menu **/
nav .category-parent {
	color: darkred;
	cursor: pointer;
}


nav ul.category-nav {
	display: none;
}

nav ul.visible {
	display: block;
}



/** general polishing **/
header {
	padding-top: 150px;
	padding-bottom: 25px;
	padding-left: 25px; padding-right: 25px;
	border-top: 15px solid darkred;
	border-bottom: 1px solid #d3d3d3;
	font-variant: small-caps;
}

a:hover, .category-parent:hover{
	color: red;
}

footer {
	clear: both;
	padding: 50px;
	width: 100%;
	display: block;
	position: relative;
}

.HolyGrail-body  {
	margin-top: 20px;
}

.HolyGrail-content {
	margin-left: 20px;
}

.HolyGrail-content h2 {
	text-align: center;
}

.HolyGrail-content .post {
	line-height: 30px;
	padding-top: 40px;
	border-bottom: 1px solid #d3d3d3;
	margin-left: 20px; margin-right: 25px;
}

.HolyGrail-nav {
	text-align: center;
	line-height: 20px;
}

footer {
	line-height: 50px;
	text-align: center;
}

/** view post css **/

.post-body {
	display: block;
	width: 100%;
	line-height: 30px;
	padding:0 80px;
}
.align-center{
	text-align: center;
}

.post-navigation {
	display: block;
	text-align: center;
}

@media (max-width: 650px) {
	.post-body {
		padding: 0 20px;
	}

}

/** view category css **/
.category-body {
	width: 100%;
	line-height: 30px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
	line-height: 50px;
}

h3 {
	font-size: 25px;
}

h6 {
	font-size: 14px;
}

ul {
	list-style-type: none;
}

a{
	color: darkred;
	text-decoration: none;
}