{% extends 'blog/base.html' %}

{% block content %}
<nav class="HolyGrail-nav">
	<h2> Categories </h2>
	{% if categories %}
		<ul>
			{% for category in categories %}
				<li><a href="{% url 'blog:view_blog_category' category.slug %}">{{ category.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There's nothing yet</p>
	{% endif %}
</nav>

<main class="HolyGrail-content">
	<h2>Posts</h2>
	{% if posts %}
		
		{% for post in posts %}
		<div class="post">
			<h3><a href="view/{{ post.slug }}">{{ post.title|capfirst }}</a></h3>
			<br />
			{{ post.body|linebreaksbr|truncatewords:50 }}
			<a href="view/{{ post.slug }}">continue</a>
			<br /><br />
			<h6>Written {{ post.posted }} by {{ post.author }}</h6>
		</div>
		{% endfor %}
		
	{% else %}
		<p>There's nothing yet</p>
	{% endif %}
</main>

{% endblock %}
